.page.theme_light {
  --bg-color: #353430;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --main-font: "IBM Plex Mono";
  --title-color: #FFC2E6;
  --cover-image: url(../images/cover-image-light.png);
  --decor-color: #353430;
  --button-color: #353430;
  

}

/* Остальные стили */

@media (prefers-color-scheme: light) {
:root {
      /* Дублируем переменные светлой темы */    
      --bg-color: #353430;
      --text-color: #353430;
      --accent-color: #FF8DCB;
      --main-font: "IBM Plex Mono";
      --title-color: #FFC2E6;
      --cover-image: url(../images/cover-image-light.png);
      --content__title-color: #353430;
      --decor-color: #353430;
      --button-color: #353430;
  }
}

.page::before {
  display: none;
}
.decorated-element-rec {
  display: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
  color: var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color); 
  outline: none;
}
/* Остальные стили */ 