/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color,#F1B2CE);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 10px;
  z-index: 0;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.2);
  z-index: -1;
}

.header {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  align-items: center;
  position: relative;

}

.decorated-element-rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-inline-end: 9px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-element-rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
  min-block-size: 648px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  align-self: flex-end;
}

.header__theme-menu {
  align-items: center;
  padding-inline-start: calc(50% - 70px/2 + 142.5px);
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.header__theme-menu-item {
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
font-family: "IBM Plex Mono", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: var(--accent-color);
background-color: transparent;
border: none;
padding: 0 13px ;
text-align: center;
min-block-size: 26px;
}

button:disabled {
  pointer-events: none;
} 

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-paragraph {
  font-weight: 700;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 23.4px;
  /* margin: 55px 0 56px 0; */
  align-items: center;
  justify-self: end;

}


.title-decor {
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}


.content-section {
  margin: 10px 0 40px 0;
}

.section_1 {
  padding-top: 40px;
}

a {
  color: var(--text-color);
  text-shadow: 1px 1px 0 var(--accent-color);
}

.content-paragraph {
font-family: var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23.4px;
color: var(--text-color);
margin-bottom: 20px;
}

/* .content-paragraph:not(:last-of-type) {
  margin-block-end: 20px;
} */

.content-paragraph:last-of-type {
  margin-bottom: 0;
}

.content__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;

}

.content_subtitle {
  margin-block-end: 10px;
}

.section_1-list {
display: grid;
gap: 20px;
}



.section_2 {
  margin-block-start: 50px;
}



.section_2-list {
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
}



.section_3 {
  margin-block-start: 50px;
}

.section_3-list {
  display: grid;
  gap: 20px;
}

.content_subtitle-h5 {
  font-weight: 400;
  margin-block-end: 10px;
}

.gallery {
  margin-block-start: 50px;
  display: grid;
  gap: 10px;
}

.content__picture {
  inline-size: 100%;
}

.footer {
  display: grid;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  font-size: 116px;
  line-height: 82.5%;
}



@media (min-width: 768px) {

  .page {
    padding: 20px;
  }

  .header__theme-menu {
    padding-block-start: 172px;
    padding-block-end: 173px;
    padding-inline-start: calc(50% - 70px/2 + 329px);;
  }

  .header__title {
 /* сделать отступ 0 */
  }
  
  .header-paragraph {
    min-inline-size: 364px;
    max-inline-size: 50%;
    justify-self: end;
  }

  .section_1-list {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    margin-block-start: 60px;
  }

  .section_2-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20 px;
  }

  .section_2 {
    margin-block-start: 50px;
  }
  
  .content__title-2 {
    max-width: 236px;
  }

  .section_3 {
    margin-block-start: 80px;
  }

  .section_3-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_4 {
    margin-block-start: 80px 0 60px 0;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, fit-content);
    gap: 20px;
    margin-block-start: 20px;
  }

  .sunset {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .ice-cream {
    grid-column-start:3;
    grid-row-start: 1;
    grid-row-end: span 2;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 2;
    object-fit: cover;
    block-size: 100%;
  }

  .books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: cover;
  }

  .street {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 1;
    object-fit: cover;
    block-size: 100%;
  }
}
