/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color,#F1B2CE);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  /* left: calc(50% - 1068.6px/2 - 0.2px);
  top: 0px; */
  padding: 10px;
}


.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  position: relative;

}
.decorated-element {
  position: absolute;
  inline-size: 52px;
  block-size: 26px;
  margin-inline-start: 304px;
  margin-block-start: 10px;
}

.decorated-element-rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}
.decorated-element-rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
  min-block-size: 375px;
  
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 0;
}

.header__theme-menu {
  padding-block-start: 65px;
  padding-block-end: 65px;
  padding-inline-start: calc(50% - 70px/2 + 142.5px);
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-list {

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.header__theme-menu-item {
  align-items: center;
  justify-content: center;
}

.header__theme-menu-button {
font-family: "IBM Plex Mono", sans-serif;
font-weight: 400;
font-size: 18px;
/* line-height: 18px; */
color: var(--accent-color);
background-color: transparent;
border: none;
padding: 0 13px ;
}

button:disabled {
  pointer-events: none;
} 

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-paragraph {
  font-weight: 700;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 23.4px;
  margin: 55px 0 66px 0;
  justify-self: end;

}

.title-decor {
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px
}

.section_1 {
  margin-top: 40px;
}

a {
  color: var(--text-color);
  text-shadow: 1px 1px 0 var(--accent-color);
}

.content-paragraph {
font-family: var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: var(--text-color);
}

.content__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.content__picture {
  inline-size: 100%;
}

.footer__title {
color: var(--title-color);
text-shadow: 2px 2px 0 var(--accent-color);
font-weight: 700;
font-size: 116px;
line-height: 82.5%;
}